.signUpError {
    color: var(--ion-color-danger);
    vertical-align: middle;
}

ion-icon {
    color: red;
    margin-right: 4px;
    vertical-align: middle;
}

span {
    margin-bottom: 4px;
}

.signInButton {
    margin-top: 40px;
}
