.center{
    margin: auto;
    text-align: center;
}

.ion-item-listing{
    font-size: 0.9em;

    color: rgb(117, 115, 115);
}

ion-card-content{
    padding-top: 5px;
}

.ion-icon-listing {
    margin-right: 6px;
    font-size: 1em;
    color: rgb(139, 138, 138);
}

.ion-card-style{
    padding: 0px;
    margin: 0px;
}

.ion-list-style{
    padding-left: 1.5em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}