<ion-header>
  <!-- <ion-toolbar>
    <ion-title>home-page-customer</ion-title>
  </ion-toolbar> -->

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-select interface="alert" placeholder="Filter by distance" (ionChange)="filterChanged($event)">
        <ion-select-option value="5">5km</ion-select-option>
        <ion-select-option value="10">10km</ion-select-option>
        <ion-select-option value="20">20km</ion-select-option>
        <ion-select-option value="50">50km</ion-select-option>
        <ion-select-option value="100">100km</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="techniciansFiltered.length !== 0; else noTech">
    <ion-card *ngFor="let t of techniciansFiltered; index as i">
      <ion-item>
        <ion-icon name="construct" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{t.technicianName}}</ion-label>
        <ion-label class="ion-text-wrap">{{(t.distance/1000).toFixed(1)}}km</ion-label>
        <ion-button fill="outline" slot="end" id="{{'open-modal2' + i}}">Book</ion-button>
      </ion-item>
      <ion-card-content class="ion-card-style">
        <ion-list lines="none" class="ion-list-style">
          <ion-item class="ion-no-padding">
            <ion-icon name="location" class="ion-icon-listing"></ion-icon>
            <ion-label class="ion-item-listing ion-text-wrap">{{t.technicianAddress.street}},
              {{t.technicianAddress.city}}</ion-label> <br><br>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon name="mail" size="small" class="ion-icon-listing"></ion-icon>
            <ion-label class="ion-item-listing"> {{t.technicianEmail}}</ion-label><br><br>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon name="call" size="small" class="ion-icon-listing"></ion-icon>
            <ion-label class="ion-item-listing"> {{t.technicianPhone}}</ion-label><br><br>
          </ion-item>
          <div id="{{'open-modal' + i}}">
            <ion-item *ngIf="t.hasOwnProperty('service') && t.service?.length !== 0" class="ion-no-padding">
              <ion-icon name="cash" size="small" class="ion-icon-listing"></ion-icon>
              <ion-label class="price" color="secondary">Show services and prices</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>

      <ion-modal #modal trigger="{{'open-modal' + i}}" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>
                <div class="ion-text-wrap">
                  {{t.technicianName}} services
                </div>
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content>
            <ion-list>
              <ion-item *ngFor="let s of t.service">
                <ion-label class="ion-no-padding">
                  <ion-label>{{s.title}}</ion-label><br>
                  <ion-textarea color="medium" readonly autoGrow="true">{{s.description}}</ion-textarea>
                </ion-label>
                <ion-label slot="end">${{s.price}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>

        </ng-template>
      </ion-modal>

      <ion-modal #modal2 trigger="{{'open-modal2' + i}}" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="modal2.dismiss()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Book Appointment</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirmBooking()" [strong]="true">Book</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content>
            <ion-list>
              <ion-item>
                <ion-label position="floating" class="labels">Service Type</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Describe your problem</ion-label>
                <ion-textarea rows="7"></ion-textarea>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="labels ion-text-wrap">Upload an Image of your Bike</ion-label>
              </ion-item>
              <ion-item>
                <ion-input type="file" accept="image/*"></ion-input>
              </ion-item>
              <ion-item lines="none" id="picker">
                <ion-label class="labels">Pick Date and Time</ion-label><br>
                <ion-label>{{dateValue | date: 'short'}}</ion-label>
                <ion-icon name="calendar" slot="end"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-modal trigger="picker" class="dateModal">
                  <ng-template>
                    <ion-content>
                      <ion-datetime
                        min="{{currentDate}}" 
                        [(ngModel)]="dateValue"
                        showDefaultButtons="true" 
                        size="cover">
                      </ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
  </div>

  <ng-template #noTech>

    <ion-icon size="large" name="alert" class="icon-center"></ion-icon><br>
    <ion-label class="ion-text-wrap label-center">There are no technicians available in your area!</ion-label>

  </ng-template>
</ion-content>