.center {
    margin: auto;
    text-align: center;
}

.ion-item-listing {
    font-size: 0.9em;

    color: rgb(117, 115, 115);
}

ion-card-content {
    padding-top: 5px;
}

.ion-icon-listing {
    margin-right: 6px;
    font-size: 1em;
    color: rgb(139, 138, 138);
}

.ion-card-style {
    padding: 0px;
    margin: 0px;
}

.ion-list-style {
    padding-left: 1.5em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}

.icon-center {
    margin-top: 50%;
    margin-left: 50%;
}

.label-center {
    display: flex;
    justify-content: center;
}

.dateModal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        --background: transparent;

        --padding-top: 50%;
        //--padding-bottom: 10vh;
        // --padding-start: 20px;
        // --padding-end: 20px;
        --background: transparent;

        ion-datetime {
            border-radius: 8px;
        }
    }
}

.displayImg {
    width: 30%;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    white-space: pre-line;
}

// ion-modal {
//     --height: 70vh;
//     --border-radius: 16px;
//     --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
// }

//   ion-modal::part(backdrop) {
//     background: rgba(209, 213, 219);
//     opacity: 1;
//   }

// ion-modal ion-toolbar {
//     --background: rgb(14 116 144);
//     --color: white;
// }

// .bookButton {
//     color:white;
//     background-color: seagreen;
//     border-radius: 5px;
// }
