<ion-header>
  <!-- <ion-toolbar>
    <ion-title>home-page-customer</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <!-- <ion-button (click)="signOut()">Sign out</ion-button>
  <ion-button (click)="id()">id</ion-button> -->

  <ion-card *ngFor="let t of technicians">
    <ion-item>
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>{{t.technicianName}}</ion-label>
      <ion-label>{{(t.distance/1000).toFixed(1)}}km</ion-label>
      <ion-button fill="outline" slot="end">Book</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-icon name="location"></ion-icon>
      <ion-label>{{t.technicianAddress.street}},
        {{t.technicianAddress.city}}</ion-label> <br><br>

      <ion-icon name="mail"></ion-icon>
      <ion-label> {{t.technicianEmail}}</ion-label><br><br>

      <ion-icon name="call"></ion-icon>
      <ion-label> {{t.technicianPhone}}</ion-label>
    </ion-card-content> 
  </ion-card>
</ion-content>