
<h1><ion-title>Your Profile</ion-title></h1>  


<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Name</ion-label>
    </ion-item>
    <ion-card-content *ngIf="customerInfo !== null">
      <h3>{{customerInfo.userName}}</h3>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>Email</ion-label>
      <!--<ion-button fill="outline" slot="end">Edit</ion-button>-->
    </ion-item>
    <ion-card-content *ngIf="customerInfo !== null">
      <h3>{{customerInfo.userEmail}}</h3>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>Phone</ion-label>
      <ion-button fill="outline" slot="end" (click)="presentPhoneAlert()">Edit</ion-button>
    </ion-item>

    <ion-card-content id="editPh2" *ngIf="customerInfo !== null">
      <h3>{{customerInfo.userPhone}}</h3>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-label>Location</ion-label>
      <ion-button fill="outline" slot="end" id="open-modal-address" (click)="editAddressClicked()">Edit</ion-button>
    </ion-item>
    <ion-card-content *ngIf="customerInfo !== null">
      <h3>{{customerInfo.userAddress.street}}</h3>
      <h3>{{customerInfo.userAddress.city}}</h3>
      <h3>{{customerInfo.userAddress.province}}</h3>
      <h3>{{customerInfo.userAddress.postal}}</h3>
    </ion-card-content>
  </ion-card>

  <ion-modal #modal trigger="open-modal-address" class="addressForm">
    <ng-template>
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancelAddress()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Edit Location</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirmAddress()" [strong]="true" [disabled]="!registrationForm.valid">Edit</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-list formGroupName="address">
          <ion-item lines="full">
            <ion-label position="floating" class="labels">Street</ion-label>
            <ion-input type="text" formControlName="street" #autocomplete></ion-input>
            <!-- Error Message -->
            <span>
              <ng-container
                *ngIf="registrationForm.get('address.street').hasError('required') && (registrationForm.get('address.street').touched || registrationForm.get('address.street').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">please enter your street address</small>
              </ng-container>
              <ng-container
                *ngIf="registrationForm.get('address.street').hasError('maxlength') && (registrationForm.get('address.street').touched || registrationForm.get('address.street').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">street cannot be more than 100 characters</small>
              </ng-container>
            </span>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating" class="labels">City</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
            <!-- Error Message -->
            <span>
              <ng-container
                *ngIf="registrationForm.get('address.city').hasError('required') && (registrationForm.get('address.city').touched || registrationForm.get('address.city').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">please enter your city</small>
              </ng-container>
              <ng-container
                *ngIf="registrationForm.get('address.city').hasError('maxlength') && (registrationForm.get('address.city').touched || registrationForm.get('address.city').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">city cannot be more than 100 characters</small>
              </ng-container>
            </span>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating" class="labels">Province</ion-label>
            <ion-select cancelText="Cancel" okText="Ok" formControlName="province" #provinceSelect>
              <ion-select-option [value]="AB">AB</ion-select-option>
              <ion-select-option [value]="BC">BC</ion-select-option>
              <ion-select-option [value]="MB">MB</ion-select-option>
              <ion-select-option [value]="NB">NB</ion-select-option>
              <ion-select-option [value]="NL">NL</ion-select-option>
              <ion-select-option [value]="NT">NT</ion-select-option>
              <ion-select-option [value]="NS">NS</ion-select-option>
              <ion-select-option [value]="NU">NU</ion-select-option>
              <ion-select-option [value]="ON">ON</ion-select-option>
              <ion-select-option [value]="PE">PE</ion-select-option>
              <ion-select-option [value]="QC">QC</ion-select-option>
              <ion-select-option [value]="SK">SK</ion-select-option>
              <ion-select-option [value]="YT">YT</ion-select-option>
            </ion-select>

            <span>
              <ng-container
                *ngIf="registrationForm.get('address.province').hasError('required') && (registrationForm.get('address.province').touched || registrationForm.get('address.province').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">please enter your province</small>
              </ng-container>
            </span>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating" class="labels">Postal Code</ion-label>
            <ion-input type="text" formControlName="postal" placeholder="(A1A 1A1)"></ion-input>
            <!-- Error Message -->
            <span>
              <ng-container
                *ngIf="registrationForm.get('address.postal').hasError('required') && (registrationForm.get('address.postal').touched || registrationForm.get('address.postal').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">please enter your postal code</small>
              </ng-container>
              <ng-container
                *ngIf="registrationForm.get('address.postal').hasError('pattern') && (registrationForm.get('address.postal').touched || registrationForm.get('address.postal').dirty)">
                <ion-icon name="close-circle" size="small"></ion-icon>
                <small class="signUpError">please enter a valid postal code</small>
              </ng-container>
            </span>
          </ion-item>
        </ion-list>
      </form>
    </ng-template>
  </ion-modal>
</ion-content>