<ion-header>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div
    *ngIf="technicianInfo?.appointments !== null && technicianInfo.appointments !== undefined && technicianInfo.appointments?.length !== 0; else noAppointments">

    <ion-list>
      <ion-item>
        <ion-select interface="alert" placeholder="Sort By Date" (ionChange)="sortChanged($event)">
          <ion-select-option value="date">Sort by Date</ion-select-option>
          <ion-select-option value="distance">Sort By Distance</ion-select-option>
          <ion-select-option value="pending">Sort By Pending</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-card *ngFor="let app of technicianInfo.appointments; index as i">
      <img src="{{app.appointmentImage}}">
      <ion-card-header>
        <ion-item lines="none">
          <ion-card-subtitle>{{app.appointmentDate | date: 'MMM d, y, h:mm a'}}</ion-card-subtitle>
          <ion-label slot="end" *ngIf="app.distance">{{(app.distance/1000).toFixed(1)}} km</ion-label>
        </ion-item>
        <ion-card-title class="cardTitle"> {{app.appointmentTitle}} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="document-text-outline" class="ion-icon-listing"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">{{app.appointmentDescription}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-circle-outline" class="ion-icon-listing"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">{{app.customer.userName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" class="ion-icon-listing"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap link"><a
              href="mailto:{{app.customer.userEmail}}">{{app.customer.userEmail}}</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" class="ion-icon-listing"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap"><a
              href="tel:{{app.customer.userPhone}}">{{app.customer.userPhone}}</a>
          </ion-label>
        </ion-item>

        <ion-accordion-group>
          <ion-accordion toggleIcon="home-outline" toggleIconSlot="start">
            <ion-item slot="header">
              <ion-label class="ion-item-listing">Address</ion-label>
            </ion-item>
            <ion-card slot="content">
              <ion-item lines="none">
                <ion-label (click)="openMap(i)" class="ion-item-listing ion-text-wrap link">{{app.customer.userAddress.street}}, {{app.customer.userAddress.city}}
                  , {{app.customer.userAddress.postal}}, {{app.customer.userAddress.province}} <ion-icon name="open-outline"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-accordion>
        </ion-accordion-group>

        <ion-item *ngIf='app.appointmentStatus === "pending"' lines="none">
          <ion-icon name="time" class="ion-icon-listing"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">{{app.appointmentStatus}}
            approval</ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf='app.appointmentStatus === "approved"'>
          <ion-icon name="checkmark-circle" class="ion-icon-listing-nocolor" color="success"></ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">Status: {{app.appointmentStatus}}</ion-label>
        </ion-item>

        <ion-item *ngIf='app.appointmentStatus === "declined"' lines="none">
          <ion-icon name="close-circle" class="ion-icon-listing-nocolor" color="danger" slot="start">
          </ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">Status: {{app.appointmentStatus}}</ion-label>
        </ion-item>

        <ion-item *ngIf='app.appointmentStatus === "cancelled"' lines="none">
          <ion-icon name="close-circle" class="ion-icon-listing-nocolor" color="danger" slot="start">
          </ion-icon>
          <ion-label class="ion-item-listing ion-text-wrap">Status: cancelled</ion-label>
        </ion-item>


        <ion-grid *ngIf="app.appointmentStatus === 'pending'">
          <ion-row>
            <ion-col size="5" offset="1" class="ion-text-center">
              <ion-button size="small" color="success" (click)='setStatus("approved", i)'>
                <ion-icon slot="start" name="checkmark-outline"></ion-icon>
                Approve
              </ion-button>
            </ion-col>

            <ion-col size="5" class="ion-text-center">
              <ion-button size="small" color="danger" (click)='setStatus("declined", i)'>
                <ion-icon slot="start" name="close-outline"></ion-icon>
                Decline
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noAppointments>
    <ion-card color="danger">
      <ion-card-content class="ion-text-center">
        You have no appointments
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>