<ion-header>
  <ion-toolbar>
    <ion-title>signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Sign up Form-->
  <form action="" [formGroup]="signUp">

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
      
      <!-- Error Message -->
      <span>
        <ng-container *ngIf="signUp.get('name').hasError('required') && (signUp.get('name').touched || signUp.get('name').dirty)" >
          Please Enter a Name
        </ng-container>
      </span>

    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
  </form>

</ion-content>
