.ion-item-listing {
    font-size: 0.9em;

    color: rgb(117, 115, 115);
}

.ion-icon-listing {
    margin-right: 6px;
    font-size: 1em;
    color: rgb(139, 138, 138);
}

.ion-icon-listing-nocolor {
    margin-right: 6px;
    font-size: 1em;
}

a:link {
    text-decoration: none;
}