<ion-header>

</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="customerInfo?.appointments !== null && customerInfo.appointments !== undefined && customerInfo.appointments?.length !== 0; else noAppointments">
        <ion-card *ngFor="let app of customerInfo.appointments; index as i">
            <img src="{{app.appointmentImage}}">
            <ion-card-header>
                <ion-item lines="none">
                    <ion-icon *ngIf="app.appointmentStatus === 'pending' && !checkAppointmentDone(i)" name="ellipsis-vertical-outline" slot="end" id="cancel{{i}}"></ion-icon>
                    <ion-popover trigger="cancel{{i}}" [dismissOnSelect]="true">
                        <ng-template>
                                <ion-item [button]="true" [detail]="false" (click)="presentCancel(i)">Cancel
                                    Appointment</ion-item>
                        </ng-template>
                    </ion-popover>
                    <ion-card-subtitle>{{app.appointmentDate | date: 'MMM d, y, h:mm a'}}</ion-card-subtitle>
                </ion-item>
                <ion-card-title class="cardTitle"> {{app.appointmentTitle}} </ion-card-title>

            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-icon name="document-text-outline" class="ion-icon-listing"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">{{app.appointmentDescription}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="person-circle-outline" class="ion-icon-listing"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">{{app.technician.technicianName}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="mail-outline" class="ion-icon-listing"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap"><a
                            href="mailto:{{app.technician.technicianEmail}}">{{app.technician.technicianEmail}}</a>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="call-outline" class="ion-icon-listing"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap"><a
                            href="tel:{{app.technician.technicianPhone}}">{{app.technician.technicianPhone}}</a>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf='app.appointmentStatus === "pending"' lines="none">
                    <ion-icon name="help-circle-outline" slot="end" class="ion-icon-listing" id="popoverPending{{i}}">
                    </ion-icon>
                    <ion-icon name="time" class="ion-icon-listing"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">{{app.appointmentStatus}}
                        approval</ion-label>

                    <ion-popover trigger="popoverPending{{i}}" triggerAction="click" side="top">
                        <ng-template>
                            <ion-content class="ion-padding">
                                appointment is awaitng confirmation from the technician
                            </ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-item>

                <ion-item lines="none" *ngIf='app.appointmentStatus === "approved"'>
                    <ion-icon name="help-circle-outline" slot="end" class="ion-icon-listing" id="popoverApproved{{i}}">
                    </ion-icon>
                    <ion-icon name="checkmark-circle" class="ion-icon-listing-nocolor" color="success"></ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">Status: {{app.appointmentStatus}}</ion-label>

                    <ion-popover trigger="popoverApproved{{i}}" triggerAction="click" side="top">
                        <ng-template>
                            <ion-content class="ion-padding">
                                the technician has approved your appointment
                            </ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-item>

                <ion-item *ngIf='app.appointmentStatus === "declined"' lines="none">
                    <ion-icon name="help-circle-outline" slot="end" class="ion-icon-listing" id="popoverDeclined{{i}}">
                    </ion-icon>
                    <ion-icon name="close-circle" class="ion-icon-listing-nocolor" color="danger" slot="start">
                    </ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">Status: {{app.appointmentStatus}}</ion-label>

                    <ion-popover trigger="popoverDeclined{{i}}" triggerAction="click" side="top">
                        <ng-template>
                            <ion-content class="ion-padding">
                                the technician has declined your appointment, contact them to re-book
                            </ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-item>

                <ion-item *ngIf='app.appointmentStatus === "cancelled"' lines="none">
                    <ion-icon name="help-circle-outline" slot="end" class="ion-icon-listing" id="popoverCancelled{{i}}">
                    </ion-icon>
                    <ion-icon name="close-circle" class="ion-icon-listing-nocolor" color="danger" slot="start">
                    </ion-icon>
                    <ion-label class="ion-item-listing ion-text-wrap">Status: cancelled</ion-label>

                    <ion-popover trigger="popoverCancelled{{i}}" triggerAction="click" side="top">
                        <ng-template>
                            <ion-content class="ion-padding">
                                the appointment has been cancelled by you
                            </ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </div>

    <ng-template #noAppointments>
        <ion-card color="danger">
            <ion-card-content class="ion-text-center">
                You haven't booked any appointments yet
            </ion-card-content>
        </ion-card>
    </ng-template>
</ion-content>